<main>
  <div class="brand">
    <img
      class="brand-image"
      src="assets/images/circular-image.png"
      alt="Logo"
    />

    <div class="brand-text">
      <h1 class="brand-text__title">Easy Media</h1>
      <span class="brand-text__subtitle">Now, share is easy</span>
      <span class="brand-text__signin">Sign In</span>
    </div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="credentials">
    <div class="credentials__box">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        placeholder="example@email.com"
      />
    </div>

    <div class="credentials__box">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        placeholder="••••••••"
      />
    </div>

    <button class="cta-button" type="submit">Sign In</button>

    <p class="cta-redirect">
      Don&apos;t have an account?
      <span routerLink="/register">Sign up here</span>
    </p>
  </form>
</main>
