<main>
  <div class="brand">
    <img
      class="brand-image"
      src="assets/images/circular-image.png"
      alt="Logo"
    />

    <div class="brand-text">
      <h1 class="brand-text__title">Easy Media</h1>
      <span class="brand-text__subtitle">Now, share is easy</span>
      <span class="brand-text__signin">Sign In</span>
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="credentials">
    <div class="credentials__box">
      <label for="fullName">Full Name</label>
      <input
        id="fullName"
        formControlName="name"
        type="text"
        placeholder="Anthony Acosta"
      />
    </div>

    <div class="credentials__box">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="text"
        placeholder="example@email.com"
      />
    </div>

    <div class="credentials__box">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="••••••••"
      />
    </div>

    <div class="credentials__box">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" placeholder="••••••••" />
    </div>

    <button class="cta-button" type="submit">Sign Up</button>

    <p class="cta-redirect">
      Already have an account? <span routerLink="/login">Login</span>
    </p>
  </form>
</main>
