<main>
  <h1 class="page-title">My Publications</h1>

  <div class="box-form">
    <div class="box-form__meta">
      <label for="date">Date Select</label>
      <span>Showing 2/15 Posts</span>
    </div>

    <input type="date" id="date" name="date" placeholder="Select a date" />
  </div>

  <app-post-overview></app-post-overview>

  <app-post-overview></app-post-overview>

  <app-paginator></app-paginator>

  <!-- TODO: Set this dynamically -->
  <!-- <app-no-results></app-no-results> -->
</main>
